.kanban {
    background-color: #f9f9f9;
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    transform-origin: top left;
    -moz-user-select : none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.column {
    width: 300px;
    margin: 25px;
    background-color: white;
    height: 100%;
    position: absolute;
}

.avatar {
    position: absolute;
    left: 350px;
    border-radius: 62px;
    width: 70px;
    height: 70px;
}

.zoom {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.rotate {
    transform: rotate(5deg);
}

@media screen and (min-height: 500px) and (max-height: 774px) {
    .kanban {
        top: 42px;
    }
}
