/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
}

.draggableObject {
	cursor: move;
}

.center {
	margin: auto;
	width: 70%;
	background-color: #b0e0e6;
}

#header {
	position: relative;
	left: 0px;
	top: 0px;
	height: 60px;
	width: 100%;
	background: url("images/header/header_bkg.png") repeat-x;
	z-index: 1000;
}

.close {
	background: url("images/header/picto-popup_close.png") no-repeat center 15px 15px;
	margin: -9px -15px 0 0 !important;
	opacity: 1 !important;
}

.menu {
	height: 132px;
	background: url("images/header/menu/menu_popup.png") no-repeat;
}

.separator {
	width: 2px;
	background: url("images/header/separator.png") no-repeat;
	float: left;
}

.export {
	background-color: #CACCCD;
	float: right;
	width: 300px;
}

#scene {
	position: relative;
	left: 0px;
    z-index: 0;
}

.spin-button {
	width: 35px;
	margin-top: 8px;
}

textarea {
	resize: none;
}

.popupDescription {
	width: 463px;
}

/*Style Popup*/
.modal {
	border-radius: 10px !important;
}

.modal-header {
    border-bottom: none !important;
	
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #01468B;
	color: white;
}

.modal-footer {
	padding-bottom: 5px !important;
}

input:not(.easyui-timespinner), textarea, select, .uneditable-input {
	/* border-radius: 0px !important; */
	/* margin-top: 1px !important; */
}

.modal-footer {
	background-color: white !important;
	border-top: 0 !important;
}

.spinner-input {
	display: inline-block;
	width: 35px;
	height: 18px;
	text-align: center;
}

.spinner-btn {
	background-color: #B3B3B3;
	width: 14px;
	height: 14px;
	display: inline-block;
	padding: 7px;
	text-align: center;
}

.spinner-btn img {
	vertical-align: middle;
	margin: 0 0 7px;
	opacity: 0.5;
}

.minus {
	/* -webkit-border-radius: 4px 0 0 4px; */
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.plus {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.vvm-btn {
	display: inline;
	padding: 15px 25px;
	margin-bottom: 0;
	font-size: 13px !important;
	line-height: 18px;
	color: white !important;
	text-align: center !important;
	vertical-align: middle !important;
	cursor: pointer !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px !important;
	margin-bottom: 10px !important;
}

.vvm-btn-primary {
	background-color: #014691;
	float: right;
	line-height: 3px !important;
}

.vvm-btn-primary:hover{
    color: #FFFFFF;
}

.vvm-btn-secondary {
	background-color: #8b857b;
	float: left;
	line-height: 3px;
}

.vvm-btn-secondary:hover{
	color: #FFFFFF;
}

.vvm-btn-danger {
	float: left;
	background-color: #bd362f;
	margin-right : 5px;
	line-height: 3px !important;
}

.vvm-btn-danger:hover {
	color: #FFFFFF;
}

.tooltip {
    padding: 0 5px;
	margin-left: 3px;
    opacity: .9;
  }

  .tooltip {
	  position: absolute;
	  z-index: 1070;
	  display: block;
	  font-size: 12px;
	  line-height: 1.4;
	  visibility: visible;
	  filter: alpha(opacity=0);
	  opacity: 0;
	  transition: opacity .15s linear;
  }
	
  #kanban_tooltip .tooltip-arrow-dialog {
	border-right-color: #434a54;
	top: 5px;
	left: 0px!important;
	margin-top: 0px;
	border-width: 5px 5px 5px 0;
	position: absolute;
	width: 0;
	height: 0;
	color: white;
	border-style: solid;
  }
	
  .tooltip-inner {
	color: #aab2bd;
	font-size: 13px;
  }  

  .tooltip-inner-dialog {
	max-width: 200px;
	padding: 3px 8px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	background-color: #434a54!important;
  }

   .tooltip-inner-dialog:after {
	content: "You may see this message if you don't have access to the external app, or if you didn't enter your password.";
	color: #e6e6e7;
	font-size: 11px;
  }
  
  span.question_icon {
   padding-top: 5px!important;
   padding-left: 5px!important;
  }
