.kanban {
    background-color: #f9f9f9;
    width: auto;
    position: absolute;
    top: 50px;
    transform-origin: top left;
    display: flex;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.column {
    width: 350px;
    margin: 25px 0 0 0px;
    background-color: white;
    float: left;
}

.column > h3 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: #8c8c8c;
}

.row {
    width: calc(100% - 425px);
    height: 150px;
    position: absolute;
    background-color: white;
    border-top: 2px solid grey;
    opacity: 0.2;

}

.avatar {
    position: absolute;
    left: 350px;
    border-radius: 62px;
    width: 70px;
    height: 70px;
}

.zoom {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.html2canvas {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: silver;
}

.html2canvas > i {
    font-size: 30px;
    margin: 9px;
}

.rotate {
    transform: rotate(5deg);
}

@media screen and (min-height: 500px) and (max-height: 774px) {
    .kanban {
        top: 42px;
    }
}
