.kanban {
    background-color: #f9f9f9;
    width: auto;
    position: absolute;
    top: 50px;
    transform-origin: top left;
    display: flex;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.column {
    width: 350px;
    margin: 25px 0 0 0px;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.column > h3 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    color: #8c8c8c;
}

.row {
    width: calc(100% - 425px);
    height: 150px;
    position: absolute;
    background-color: white;
    border-top: 2px solid grey;
    opacity: 0.2;

}

.avatar {
    position: absolute;
    left: 350px;
    border-radius: 62px;
    width: 70px;
    height: 70px;
}


.tools {
    width: 50px;
    height: 50px;
    background-color: silver;
    left: 0;
    position: fixed;
    border-bottom: 1px silver grey;
}

.zoom-in {
    bottom: 51px;
}

.zoom-out {
    bottom: 102px;

}

.html2canvas {
    bottom: 0px;
}

.add_button {
    position: fixed;
    width: 310px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: dashed 1px gray;
    border-radius: 5%;
    z-index: 2;
    text-align: center;
    background: transparent;
    color: white;
}

.add_button > svg {
    height: 24px;
    vertical-align: text-bottom;
    width: 24px;
    fill: silver;
    position: static;
}

.html2canvas > i, .zoom-out > i, .zoom-in > i {
    font-size: 30px;
    margin: 9px;
    color: white;
}



.rotate {
    transform: rotate(5deg);
}

.editable-text-input {
    border: none;
    background-color: transparent;
}

.editable-text-input:focus{
    display: inline-block;
    border-bottom: 1px solid #999;
    border-top: none;
    outline: none;
}

.column > input {
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

.row > input {
    font-weight: bold;
    margin-top: 5px;
    font-size: 15px;
}

.checkbox-collapse {
    position: absolute;
    top: 3px;
    left: 5px;
}

.checkbox-collapse:hover{
    cursor: pointer;
}

@media screen and (min-height: 500px) and (max-height: 774px) {
    .kanban {
        top: 42px;
    }
}
