.overview {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    background-color: #f9f9f9;
    position: absolute;
    top: 50px;
    transform-origin: top left;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.preview {

    position: relative;
    display: inline-block;
    float: left;
    width: 99%;
    margin: 0.5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 3px;

}

/*dummy div to manage the height of the preview */
.preview .dummy {
    padding-top: 70%;
}

.preview-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    font-size: 16px;
    color: white;
    padding: 0 7px 0 15px;
    text-shadow: 1px 1px #333;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 100px;
    z-index: 1;
    border-radius: 3px 3px 0 0;

}

.preview-core {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #DDD;
    text-align: center;
    text-shadow: 1px 1px #333;
    background-color: white;
    overflow: hidden;
    border-radius: 3px;

}

.preview-footer {
    position: absolute;
    height: 60px;
    bottom: -90px;
    left: 0;
    width: 100%;
    font-size: 13px;
    color: rgba(0, 67, 141, 1);
    background-color: white;
    z-index: 1;
    padding: 0 10px;
    font-weight: bold;
    line-height: 13px;
}

.preview-infos {
    position: absolute;
    opacity: 0;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: rgba(0, 67, 141, 0.7);

}

.preview-edit {
    position: absolute;
    opacity: 0;
    height: 100%;
    top: 0;
    width: 100%;
    color: black;
    background-color: silver;

}

.preview-core img {
    max-height: 100%;
    min-width: 100%;
}

/*region Hover*/
.preview:hover > .preview-infos {
    opacity: 1;
}

.preview:hover > .preview-core img {
    transform: scale(1.3);
}

.preview:hover > .preview-footer {
    bottom: 0;
}

.preview:hover > .preview-title {
    min-height: 0px;
    height: 0;
    overflow: hidden;
}

/*endregion Hover*/

.graph {
    height: auto;
    margin: 5% 0;
    width: 50%;
}

.graph-info {
    width: 50%;
    height: 100%;
    float: right;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 2px 2px black;
}

.miniwrap {
    margin-bottom: 17px;
}

.miniwrap .minicon {
    margin: 0 16px 0 0;
}

.minicon {
    width: 16px;
    height: 16px;
    margin: 0px 0px -4px 15px;
}

.preview-title, .preview-footer, .preview-infos, .preview-core img {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.entry-read-more-pointer {
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 5px;
    width: 50px;
    height: 50px;
    display: block;
    padding: 16px 0;
    position: absolute;
    top: -26px;
    right: 25px;
    line-height: 1;
    background: #ec407a;
    text-align: center;
    color: white;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 20px;
    font-size: 2rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
}

.entry-read-more-pointer:hover {
    color: white;
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.bubble .fa {
    font-size: 24px;
    top: 12px;
    left: 10px;
    position: absolute;
}

.list {
    list-style: none;
    position: absolute;
    bottom: 75px;
    right: 31px;
}

.list li{
    border: 1px solid black;
    border-radius: 3px;
}

.slide-list {
    margin-left: 300px;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {
        margin-left: 300px
    }
    to {
        margin-left: 10px
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .preview {
        width: 49%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 767px) {
    .preview {
        width: 32%;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1200px) {
    .preview {
        width: 32%;
    }
}

@media screen and (min-width: 1500px) {
    .preview {
        width: 24%;
    }
}

